@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body {
    color:  rgb(73, 70, 70);
    margin: 0; 
    font-weight: 500; 
    font-family: 'Didact Gothic', sans-serif;   
}

.logo {
    line-height: 70px;
    text-align: center;
    font-weight: bold;
    float: left; 
    margin-top: 0;           
    margin-left: 5%;
    width: 70px;
    height: 70px;
    background-color: firebrick;
    color: #ffffff;    
    transition: 1s ease;
}



section {
    width: 100%;
    padding: 0 10%;
    display: table;
    margin: 0;
    max-width: none;
    background-color:rgb(228, 228, 228);
    height: 100vh;
}   

section:nth-of-type(2n) {
    background-color: rgb(211, 211, 211);
}

.intro {
    height: 90vh;    
}

.content {    
    display: table-cell;
    vertical-align: middle;
}

.iconContainer {    
    margin-top: 100px;
}

.iconContent {   
    margin: 5px;           
}

.caption {
    font-size: .9em;
    display:block; 
    text-align: center
}

.aboutSection {
    margin: 10% 0;
    /* font-size: 0.75em; */
    font-weight: 500;    
    color: rgb(47, 47, 47);
}

.techSection {
    margin: 10% 20%;
    font-size: 0.75em;
    font-weight: 500;
    text-align: justify;
    color: rgb(47, 47, 47);
}

h1 {
    font-size: 3em;
    display: block;
    color: rgb(73, 70, 70);
    font-weight: 300;
}
  
p {
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(134, 134, 134);
    text-align: justify;
}
  
a {
    font-weight: 700;
    color: #373B44;
    position: relative;
}

a:hover {
    opacity: 0.8;
    
}

a:active {
    top: 2px;
    color: firebrick;    
}
  
footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #373B44;
    color: white;
}
